<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Control</servlet-name>
        <servlet-class>USERControl.Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>USERControl.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>USERControl.adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateuser</servlet-name>
        <servlet-class>USERControl.updateuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addnewuser</servlet-name>
        <servlet-class>USERControl.Addnewuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkmail</servlet-name>
        <servlet-class>USERControl.Checkmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladd</servlet-name>
        <servlet-class>USERControl.controladd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepass</servlet-name>
        <servlet-class>USERControl.changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>USERControl.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>USERControl.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>USERControl.Buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyEditProduct</servlet-name>
        <servlet-class>USERControl.CompanyEditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyDeleteProduct</servlet-name>
        <servlet-class>USERControl.CompanyDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyADDProduct</servlet-name>
        <servlet-class>USERControl.CompanyADDProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteProduct</servlet-name>
        <servlet-class>USERControl.UserDeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateuser</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addnewuser</servlet-name>
        <url-pattern>/Addnewuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkmail</servlet-name>
        <url-pattern>/Checkmail</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>controladd</servlet-name>
        <url-pattern>/controladd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
   
    
   
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyEditProduct</servlet-name>
        <url-pattern>/CompanyEditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyDeleteProduct</servlet-name>
        <url-pattern>/CompanyDeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyADDProduct</servlet-name>
        <url-pattern>/CompanyADDProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteProduct</servlet-name>
        <url-pattern>/UserDeleteProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    </web-app>
